
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container w3-blue">
        <h1>We Value Your Choice!!!</h1>
        <p style="text-align: right;"><button type="button" class="btn btn-primary" (click)="submit()"><b>Back</b></button></p>
        </div>
<div class="login-page">
        <div class="form">
             <form class="login-form">
                <h1><p class="text"><b>Amount Transfering Methods!!!</b></p></h1>
                <img src="/assets/fundTransfer.png"  width="90px" height="100px">
                <br><br><br>
              <button type="button" (click)="submit1()"><b>Mobile Number</b></button><br><br>
              <button type="button" (click)="submit2()"><b>Account Number</b></button>
              </form>
              
        </div>
        </div>