
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-blue" style="text-align: left;">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <h1>Forgot Password</h1>
    <p style="text-align: right;"><button type="button" class="btn btn-primary" (click)="submit()"><b>Back</b></button></p>
    </div><br><br><br><br><br>
    <div class="container">
            <form>
    <div class="form-group">
 <label  for="email"><b>Email</b></label> 
<input type="text"  class="form-control"  name="email" maxlength="30" required><br><br>
	
 <label  for="newPassword"><b>New Password:</b></label> 
<input type="password" class="form-control" id="newPassword" id="newPassword" maxlength="15" required  title="New password" /><br><br>
	
 <label  for="confirmPassword"><b>Confirm Password:</b></label> 
<input type="password" class="form-control" id="confirmPassword" id="confirmPassword"maxlength="15" required  title="Confirm new password" /><br><br>

<button type="button" class="btn btn-primary" >Submit</button>

</div>
</form>
</div>