<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-blue">
    <h1 style="text-align: center;">Welcome To Your Account</h1>
    <div style="text-align: left;">
            <a class="w3-button w3-theme w3-hover-white" href="emp-profile">Profile</a>&nbsp;&nbsp;
            <a class="w3-button w3-theme w3-hover-white" href="emp-home">Customers Details</a>&nbsp;&nbsp;
            <a class="w3-button w3-theme w3-hover-white" href="emp-login">Logout</a>&nbsp;&nbsp;
          </div> 
            </div>
           <br><br><br><br>

<table>
  <tr>
    <th>Customer Name</th>
    <th>Mobile</th>
    <th><a href="history">Account</a></th>
    <th>Email Id</th>
    <th>Update</th>
    
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>1234567</td>
    <td><a href="history">icic12345</a></td>
    <td>ald@gmail.com</td>
    <td><a href="update">Update</a></td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>23456768979</td>
    <td>icic122345</td>
    <td>ald@gmail.com</td>
    <td><a href="update">Update</a></td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>90866556754345</td>
    <td>icic54674674</td>
    <td>ald@gmail.com</td>
    <td><a href="update">Update</a></td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>555654546784</td>
    <td>icic67783</td>
    <td>ald@gmail.com</td>
    <td><a href="update">Update</a></td>
  </tr>
  
</table>