
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-blue"><br>
<h1>Make Your Life Better!!!!!!!!</h1>
<p style="text-align: right;"><button type="button" class="btn btn-primary" (click)="submit()"><b>Back</b></button></p>
</div>
<div class="login-page">
        <div class="form">
             <form class="login-form">
                <h1><p class="text"><b>Apply For Loan!!!</b></p></h1>
                <img src="/assets/Loan.png"  width="90px" height="100px">
                <br><br><br>
              <button type="button" (click)="submit1()"><b>GOLD LOAN</b></button><br><br>
              <button type="button" (click)="submit2()"><b>EDUCATION LOAN</b></button><br><br>
              <button type="button" (click)="submit1()"><b>HOUSE LOAN</b></button><br><br>
              </form>
              
        </div>
        </div>