
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-blue">
    <h1>Welcome To Online-Banking</h1>
   
    </div>
    <div class="bgimg1" >
      <div   class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="login-page">
  <div class="form">
       <form class="login-form">
          <h1><p class="text"><b>Are You Customer??Are You Employee???</b></p></h1>
          <button type="button" (click)="submit()"><b>Customer Login</b></button><br><br>
        <button type="button" (click)="submit1()"><b>Employee Login</b></button>
        </form>
        <!-- <a routerLink="register"><p class="text1">REGISTER NOW!!!</p></a> -->
        <!-- <p class="message">Not signed up? <a ng-href="register.component.html">Register now</a></p>  -->
        <!-- <button type="button" (click)="forgotpwd()">change password</button> -->
        <!-- <a href="submit()" ><img src="/assets/cash.png" height="20px" width="20px"></a> -->
  </div>
  </div>
  </div>
</div>