<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container w3-blue">
        <h1>We Make Sure You Feel GOOD!!!!</h1>
        <div style="text-align: right;">
        <button type="submit" style="text-align: right;" (click)="login()" class="registerbtn">Back</button>
        </div></div>
<form >
<body>
  <div class="container">
      <div   class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="login-page">
         <div class="form">
             <form class="login-form">
                    <img src="/assets/profile.jfif"  width="90px" height="90px">
                <h4><p class="text"><b> My Account</b></p></h4>
	<label for="uname"><b>UserName</b></label> 
   Name <input type="text" name="uname" maxlength="30" value="achitha" required readonly>

    <!-- <label for="email"><b>Email</b></label> -->
    Email <input type="text" value="abc@gmail.com" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder="Enter Email[abcd@gmail.com]" name="email" maxlength="30" required readonly>

   Mobile Number <input type="number"  name="Mobnum" value="1234567890" maxlength="15" required readonly>

   Account Number <input type="number" value="123" name="accnum" maxlength="15" required readonly>

    Balance <input type="number" value="15000" name="accnum" maxlength="15" required readonly>
     
    Account Type <input type="textr" value="savings" name="acctype" maxlength="15" required readonly>
     
    
  <button type="submit" (click)="submit()" class="registerbtn">View Transaction</button>
   <!-- <a><img src="/assets/cash.png" height="20px" width="20px"></a>  -->
  </form>
  </div>
</div>
</div>
</div>
  
  </body>
  </form>
  </html>