<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-blue"><br>
<h1>How may we help you today?</h1>
</div>

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
        <h5 class="w3-bar-item">Menu</h5>
       
       <a class="w3-button w3-theme w3-hover-white" href="profile">MyProfile</a>
       <a class="w3-button w3-theme w3-hover-white"  href="forgotpwd">Settings</a>
     <a class="w3-button w3-theme w3-hover-white" href="about">About</a>
       <a (click)="submit()" class="w3-button w3-theme w3-hover-white" href="#">Logout</a>
      </div>

<br><br><br><br>
<div>
<div class="w3-third">
<div  style="text-align: center;" class="w3-card">
<a href="ticket" ><img src="/assets/cash.png" width="90px" height="100px"></a>
<div class="w3-container">
<h4>TICKET BOOKING</h4>
 </div>
</div>
</div>


<div class="w3-third">
<div style="text-align: center;" class="w3-card">     
<a href="insurance" ><img src="/assets/Insure.png"  width="90px" height="100px"></a>
<div class="w3-container">
<h4>INSURANCE</h4>
</div>
</div>
</div>

<div class="w3-third">
<div style="text-align: center;" class="w3-card">   
<a href="profile" ><img src="/assets/myAccount.png"  width="90px" height="100px"></a>
<div class="w3-container">
<h4>MY ACCOUNT</h4>
 </div>
</div>
</div>
<br><br><br><br><br><br>       
<br><br>


<div class="w3-third">
        <div style="text-align: center;" class="w3-card">   
        <a href="loan" ><img src="/assets/Loan.png"  width="90px" height="100px"></a>
        <div class="w3-container">
        <h4>LOAN</h4>
        </div>
        </div>
        </div>
        
                
        <div class="w3-third">
        <div style="text-align: center;" class="w3-card">   
        <a href="finance" ><img src="/assets/finance.png"  width="90px" height="100px"></a>
        <div class="w3-container">
        <h4>FINANCE</h4>
        </div>
        </div>
        </div> 
        
        <div class="w3-third">
                <div style="text-align: center;" class="w3-card">   
                <a href="fund-transfer" ><img src="/assets/fundTransfer.png"  width="90px" height="100px"></a>
                <div class="w3-container">
                <h4>AMOUNT TRANSFER</h4>
                </div>
                </div>
                </div> 
    </div>     