<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container w3-blue"><br>
<h1>Welcome To Way of Journey!!!!!!!!</h1>
<p style="text-align: right;"><button type="button" class="btn btn-primary" (click)="submit()"><b>Back</b></button></p>
</div>
<div class="login-page">
        <div class="form">
             <form class="login-form">
                <h1><p class="text"><b>Book Your Tickets!!!</b></p></h1>
                <img src="/assets/cash.png"  width="90px" height="100px">
                <br><br><br>
              <button type="button" (click)="submit1()"><b><a href="https://www.irctc.co.in/nget/train-search">Book Tickets</a></b></button><br><br>
              <button type="button" (click)="submit2()"><b>My Bookings</b></button><br><br>
              <button type="button" (click)="submit3()"><b><a href="http://www.indianrail.gov.in/enquiry/PNR/PnrEnquiry.html?locale=en" >Check PNR</a></b></button><br><br>
              </form>
              
        </div>
        </div>